[Desktop Entry]
Name=Vader - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=vader --open-url %U
Icon=vader
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vader;
Keywords=vader;
